<div style="position:relative;display:block;width:100vw;height:12.5vh;background: var(--blue);">
    <a href="/home" class="nospace"><img src="/static/images/ARCH-logo-white.svg" style="position: absolute; height: 8vh; left: 4vh; top: 50%; transform: translate(0%, -50%);"></a>
    <h1 class="white nospace" style="position: absolute; left: 15vh; top: 50%; transform: translate(0%, -50%);">A R C H</h1>
</div>