<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') -%>
    <body>
        <div class="nospace centered centercontent" style="display:block;height:90%;width:80%;">
            <h1 class="nospace massive"><img src="/static/images/ARCH-logo.svg" height="60vh">        A R C H</h1>
            <h1 class="nospace">Prioritizing potential as much as achievement.</h1>
            <h2>I want to...</h2>
            <div class="nospace container">
                <div class="findinterns nospace centercontent">
                    <h1 class="white centered nospace">Find interns</h1>
                </div>
                <div class="applyforinternships">
                    <h1 class="white centered nospace">Apply For Internships</h1>
                </div>
            </div>
        </div>
        <script src="/static/js/homepage.js"></script>
    </body>
</html>