<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body class="nospace">
        <fullscreen style="height:80vh;">
            <div class="nospace" style="display:block;position:absolute;height:100%;width:50%;top:0px;left:0px;">
                <div class="nospace white centercontent centered" style="display:block;width:80%;height:80%;background:var(--blue);">
                    <div class="nospace centered">
                        <img src="/static/images/ARCH-logo-white.svg" style="width:17.5vw;">
                        <h1 class="huge nospace">A R C H</h1>
                    </div>
                </div>
            </div>
            <div class="nospace" style="position: absolute; right: 0px; height: 100%; width: 50vw;">
                <div class="nospace centercontent" style="position: absolute; top: 50%; transform: translateY(-50%); width: 100%">
                    <h1 class="nospace">Prioritizing potential as much as achievement.</h1>
                    <gbr></gbr><gbr></gbr>
                    <a href="/logup"><button>Signup or Login</button></a>
                </div>
            </div>
        </fullscreen>
        <div class="nospace" style="display:block;background:var(--blue);height:20vh;position:relative;">
            <div class="nospace" style="display:block;height:100%;width:40%;position:absolute;top:50%;left:25%;transform:translate(-50%,-50%);">
                <h1 class="nospace white centered" style="width:100%;">Start looking for internships now</h1>
            </div>
            <div class="nospace centered" style="background: white;height:80%;width:0.5vh;"></div>
            <h1 class="nospace centered white" style="background:var(--blue);">OR</h1>
            <div class="nospace"
                style="display:block;height:100%;width:40%;position:absolute;top:50%;left:75%;transform:translate(-50%,-50%);">
                <h1 class="nospace white centered" style="width:100%;">Post an opening for interns</h1>
            </div>
        </div>
        <fullscreen>
            <div class="nospace" style="background: var(--darkblue);display:block;height:50vh;position:relative;">
                <img src="/static/images/portfolio.png"
                    style="position:absolute;width:55vw;top:50%;left:10vw;transform:translate(0%,-50%);">
                <div style="display:inline-block;position:absolute;top:50%;right:5vw;height:25vw;width:25vw;transform:translate(0%,-50%);">
                    <h1 class="white centered nospace">Create a portfolio</h1>
                    <img src="/static/images/blob.svg" style="display:block;width:25vw;">
                </div>
                <h1 class="centered"></h1>
            </div>
            <div class="nospace" style="position:absolute;border:solid 1vh var(--lightgrey);top:75%;left:50%;transform:translate(-50%,-50%);width:calc(100% - 20vh);height: 30vh;">
                <h1 class="nospace centered" style="text-align: center">Prioritizing potential as much as achievement.</h1>
            </div>
            <div class="nospace" style="background:var(--offwhite);position:absolute;bottom:10vh;left:50%;transform:translate(-50%,50%);padding:4vh;">
                <a href="/logup"><button>Get Started</button></a>
            </div>
        </fullscreen>
    </body>
</html>